@CHARSET "UTF-8";
html, body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
}
#container{
	margin: 0 auto;
	width: 1280px; /* A4 */
	/*height: 842px;*/ /* A4 */
}
.no_print{
	display: none;
}
.table{
	border-collapse: collapse;
	width: 100%;
}
.table th{
	/* border: solid 1px #000; */
	padding: 4px;
	text-align: left;
	/* background-color: #18c318; */
	font-size: 13px;
}
.table td{
	border: solid 1px #000;
	padding: 1px;
}
.table tr.even td{
	background-color: #e0e0e0;
}
.table tr.bold td{
	font-weight: bold;
	font-size: 13px;
}
p{
	margin: 0;
}
.w50{
	width: 50px;
}
.page-break {
    display: block;
    page-break-before: always;
}
.page-break-after {
	display: block;
	page-break-after: always;
}
.client-name-plate .table {
    margin-left: 25%;
    margin-top: 25%;
    width: 50%;
}
.client-name-plate .table th {
    padding: 15% 0;
    text-align: center;
    font-size: 78px;
    line-height: 1em;
}
.page-break-after .client-name-plate .table th {
	padding: 0;
}