@CHARSET "UTF-8";
html, body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
}
#container{
	margin: 0 auto;
	width: 986px; /* A4 */
	/*height: 842px;*/ /* A4 */
}
.no_print{
	display: none;
}
.table{
	border-collapse: collapse;
}
.table th{
	padding: 2px 4px;
	text-align: left;
}
.table td{	
	padding: 2px 4px;
	border: 1px solid #000000;
}
.table td.no_border{	
	padding: 2px 4px;
	border: none !important;
}
.table td.center{
	text-align: center;
}
p{
	margin: 0;
}
.float_left{
	float: left;
}
.b20{
	margin-bottom: 20px !important;
}
.w50{
	width: 50px;
}
.w100{
	width: 100px;
}
.w200{
	width: 200px;
}
.bold{
	font-weight: bold;
}
p{
	display: block;
	overflow: hidden;
}
.tr-content{
	margin-bottom: 5px;
}
.fs13{
	font-size: 13px;
}
.fs14{
	font-size: 14px;
}


.pj-button {
    border: 1px solid #C9CFD4;
    border-radius: 3px;
    color: #6C6A6A;
    cursor: pointer;
    font: 11px/18px Verdana,sans-serif;
    padding: 4px 15px;
    position: relative;
}
.pj-button, .pj-button:link, .pj-button:active, .pj-button:visited, .pj-button:hover {
    background: url("../img/backend/pj-button.png") repeat-x scroll 0 0 #F3EFEF;
    box-shadow: 1px 1px 1px #FBFBFB;
    text-decoration: none;
}
.pj-button-active, .pj-button-hover, .pj-button:hover:not([disabled]) {
    background: url("../img/backend/pj-button-hover.png") repeat-x scroll 0 0 #DEDEDE !important;
    border: 1px solid #B5B7B9;
    color: #363434 !important;
}
a:link, a:visited, a:active, a:hover {
    color: #63A8C9;
    outline: medium none;
}